$color__white: rgba(255, 255, 255, 1);
$color__primary: rgba(37, 43, 64, 1);
$color__contrast: rgba(254, 192, 23, 1);

$xsmall: 16px;
$small: 24px;
$medium: 32px; 
$big: 40px;

$font__xxsmall: 14px;
$font__xsmall: 16px;
$font__small: 20px;
$font__big: 40px;
$font__medium: 32px;

$font-weight__normal: 400;
$font-weight__bold: 600;

$font-family: 'Segoe UI';